.shadow {
    padding: 15px;
    box-shadow: 3px 3px 7px grey;
}

.round {
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.card-red {
    background-color: crimson;
}

.luminari {
    font-family: "Luminari";
}

.card {
    padding: 15px;
    box-shadow: 3px 3px 7px black;
    border-radius: 5px;
    background-color: white;
}

.login {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.button-go {
    text-align: center;
    border-radius: 50px;
}

.page-home {
    width: 90%;
    height: 60%;
    margin: auto;
    padding: 10px;
}

.background-login {
    background-color: #81C784;
}

.page {
    margin-top: 2%;
}

.float-R {
    float: right;
}

.image-frame-0{
    border-style: solid;
    margin-top: 12px;
    text-align: center;
}

.word-frame-0{
    margin-top: 12px;
    padding: 20%;
    text-align: center;
}

.button-next {
    width: 70px;
    height: 70px;
    box-shadow: 3px 3px 7px grey;
    text-align: center;
    border-radius: 70px;
}